<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap2.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="Shortcut icon" href="/images/favicon.ico"/>
    <script type="text/javascript" src="/js/vendors/jquery.js"></script>
    <script type="text/javascript" src="/js/vendors/dropzone.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/vendors/angular.js"></script>
    <script type="text/javascript" src="/js/vendors/animate.js"></script>
    <script type="text/javascript" src="/js/modules/angular-route.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/services/AuthService.js"></script>
    <script type="text/javascript" src="/js/controllers/LoginCtrl.js"></script>

    <title>Angular</title>

</head>

<body ng-app="myApp">
<button class="hidden" data-toggle="modal" data-target="#myModal">
    Launch
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     ng-controller="LoginCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Welcome stranger!</h4>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="email" ng-model="model.login" name="login" required class="form-control"
                                   placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <input type="password" ng-model="model.password" name="password" required
                                   class="form-control" placeholder="Password">
                        </div>

                        <div ng-show="create" class="form-group reveal-animation">
                            <input type="password" ng-model="model.password2" name="password2" required class="form-control"
                                   placeholder="Repeat Password">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button ng-click="create = !create " class="btn btn-default">Create / Login</button>
                    <button ng-hide="create" ng-click="login()" type="submit" class="btn btn-primary">Log in
                    </button>
                    <button ng-show="create" ng-click="signIn()" class="btn btn-success">Sign in</button>
                </div>
                <!-- /.modal-footer -->
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</body>
</html>

