<div class="jumbotron">
    <div class="container">
        <h1>Your files<i class=".glyphicon .glyphicon-book"></i></h1>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Your library</div>
        <div class="panel-body">
            <div class="input-group input-group-md col-xs-5">
                <span class="input-group-addon">?</span>
                <input type="text" class="form-control" ng-model="search" placeholder="Search">
            </div>
        </div>

        <table class="table table-hover table-striped table-bordered" ng-controller="FilesCtrl">
            <tbody ng-init="getFiles()">
             <tr>
                <td colspan="4">
                    <div class="col-lg-6" ng-show="folderForm">
                        <div class="input-group" id="folderForm">

                            <input type="text" class="form-control" aria-label="..." ng-model="folderName">
                            <span class="input-group-addon">
                               <button class="btn btn-default btn-sm" ng-click="createFolder()" type="button">Dodaj</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </td>
                 <td >
                    <button ng-click="toggleFolderForm()" class="btn btn-default btn-md">
                        <span ng-hide="folderForm">Dodaj folder</span>
                        <span ng-show="folderForm">Zamknij</span>
                    </button>
	<!-- Modal -->
	<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="ShareCtrl">
  		<div class="modal-dialog" role="document">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        				<h4 class="modal-title" id="myModalLabel">{{ currentFolder.name }}</h4>
      				</div>
      				<div class="modal-body">
					<input type="text" ng-model="searchString"/>
        				<span ng-model="searchString"/>
      				</div>
      				<div class="modal-footer">
        				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       					<button type="button" class="btn btn-primary">Save changes</button>
      				</div>
    			</div>
  		</div>
	</div>
                </td>
            </tr>
            
            <tr ng-controller="UploadCtrl">
                 <td  colspan="5">
                	    
		
		     <div class="upload dropzone" style="min-height:20px; max-height: 200px; border:1px dashed seagreen">
                         {{ 'add files' | i18n }}
                     </div>
                 </td>
            </tr>

           

            <tr class="reveal-animation" ng-show="hasParent">
                <td colspan="4">
                    <a ng-click="upFolder()">..</a>
                </td>
            </tr>



            <tr class="reveal-animation" ng-repeat="folder in folders | filter:search">
                <td colspan="4"><a ng-click="changeFolder(folder.uuid)">{{ folder.name }}</a></td>
		<td>	
			<button type="button" class="btn btn-primary btn-md" data-toggle="modal" ng-controller="ShareCtrl" ng-click="shareFolder(folder)" data-target="#shareModal">
  				share 
			</button>
         	       <button type="button" ng-click="deleteFolder(folder)" class="btn btn-primary btn-md">usuń</button>
		</td>
            </tr>

            <tr>
                <th>Name</th
                <th>Size</th>
                <th>Extention</th>
                <th>Mime</th>
                <th>Akcje</th>
            </tr>
            <tr class="reveal-animation" ng-repeat="file in files | filter:search">
              <!--  <td>{{ $index + 1 }}</td>-->
                <td><a ng-click="downloadFile(file)">{{ file.name }}</a></td>
                <td>{{ file.size }}</td>
                <td>{{ file.type }}</td>
                <td>{{ file.createdAt }}</td>
                <td><button ng-click="deleteFile(file)" class="btn btn-default btn-md">usuń</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
