<footer>
    <div class="container narrow">
        <div class="row footer">

            <div class="col-xs-4">
                <ul>
                    <li><a href="http://brakeyourlimbsdancing.soup.io/">BRAKEYOURLIMBSDANCING.SOUP</a></li>
                </ul>

            </div>

            <div class="col-xs-4">
                <ul>
                    <li>Łukasz Sokołowski</li>
                    <li>email sokolowski.lu@gmail.com</li>
                </ul>
            </div>

        </div>
        <hr/>
        <div class="col-xs-4">
            <p>© Sokołowski 2013</p>

        </div>
    </div>
</footer>
