<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li><a id="home" href="#/">Home</a></li>
                <li><a id="files" href="#/Show">Files</a></li>
                <li><a id="Options" href="#/Options">Options</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <button ng-click="logout()" class="btn btn-default navbar-btn">Logout</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.navbar-collapse -->
</nav>
