<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ">
    <div class="btn-group btn-group-vertical visible-lg visible-md">
        <a class="btn btn-primary " href="#/Upload">Upload</a>
        <a class="btn btn-primary " href="#/Download">Download</a>
        <a class="btn btn-primary " href="#/Share">Share</a>
    </div>

    <div class="btn-group visible-sm visible-xs">
        <a class="btn btn-primary " href="#/Upload"><i class="glyphicon glyphicon-folder-open"></i></a>
        <a class="btn btn-primary " href="#/Share"><i class="glyphicon glyphicon-share"></i></a>
    </div>
</div>