<div class="jumbotron">
    <div class="container">
        <h1>Main page</h1> you are ! on the main page
    </div>
</div>
<div class="container">
    <h1> {{ 'welcome' | i18n }} </h1>
    <br/>
    You are on main page
</div>
